<h4> Game Over....</h4>
<p> Well, it looks like this is it..</p>
<% if session[:player_funds] > 0 %>
  <p>Looks like you got yourself something out of this</p>
  <p>You might as well go celebrate :)</p>
<% else %>
  <p> Maybe you should take it easy next time....</p>
<% end %> 