<!DOCTYPE html>
<html>
  <head>
    <title>Blackjack - Ruby Style</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
    </script>
    <script src="/script.js"></script>
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/bet">RESET</a></li>
              <li><a href="/set_name">NEW GAME</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
      <%= yield %>
  </div>
  </body>
</html>
