<h4>Place your bet<strong>!</strong></h4>
<br>
  <p><%= session[:player_name] %> currently has $<%= session[:total_bet] %></p>
<br>
<form action="/bet" method="post">
  <input type="text" name="player_bet">
  <br>
  <input type="submit" value="Make Bet">
</form>

