<h4>Please enter your name</h4>
<br> 
Name: 
<form action="/set_name" method="post"> 
  <input type="text", name="player_name">
  <br>
  <input type="submit", class="btn btn-info", value="Enter">
</form>